* {
	-green: #93d786;
	-red: #bc8b8b;
	-blue: #84c4c8;
	-yellow: #e0c86c;
	-background: #5b5b5b;
}

#log-in-view, #signup-view {
	-fx-background-color: -green;
}

#login-spacer {
	-fx-min-height: 115;
	-fx-max-height: 115;
	-fx-alignment: bottom-center;
}

#create-spacer {
	-fx-min-height: 95;
	-fx-max-height: 95;
	-fx-alignment: bottom-center;
}

#username,
#password,
#confirm-password {
	-fx-text-fill: white;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 18;
	-fx-min-width: 88;
	-fx-max-width: 88;
}

#user-area,
#pass-area,
#confirm-pass-area {
	-fx-background-color: white;
	-fx-background-radius: 0em;
	-fx-text-fill: -background;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 11;
	-fx-border-width: 0;
	-fx-min-width: 206;
	-fx-max-width: 206;
	-fx-min-height: 20;
	-fx-max-height: 20;
}

#remember {
	-fx-text-fill: white;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 11;
	-fx-padding: 1 0 0 0;
}

#remember-toggle {
	-fx-background-color: white;
	-fx-background-radius: 0em;
	-fx-border-width: 0;
	-fx-min-width: 10;
	-fx-max-width: 10;
	-fx-min-height: 10;
	-fx-max-height: 10;
}

#log-in,
#sign-up,
#back {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-text-fill: white;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 18;
	-fx-padding: 5;
}

#user-box,
#pass-box,
#confirm-pass-box {
	-fx-padding: 15 10 0 10;
	-fx-alignment: center;
	-fx-spacing: 10;
}

#remember-box {
	-fx-alignment: center;
	-fx-spacing: 5;
}

#login-button-box {
	-fx-padding: 135 0 0 0;
	-fx-alignment: center;
	-fx-spacing: 170;
}

#signup-button-box {
	-fx-padding: 120 0 0 0;
	-fx-alignment: center;
	-fx-spacing: 185;
}

#invalid-entry {
	-fx-text-fill: -red;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 18;
}

#app-frame {
	-fx-background-color: white;
}

#header {
	-fx-background-color: -green;
	-fx-alignment: center;
	-fx-pref-width: 325;
	-fx-pref-height: 68;
	-fx-letter-spacing: 10;
	-fx-spacing: 5;
}

#header-title {
	-fx-text-fill: white;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 41;
}

#log-out {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-text-fill: white;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 10;
	-fx-padding: 5 6 5 5;
}

#top-pane {
	-fx-alignment: top-right;
	-fx-pref-width: 325;
	-fx-pref-height: 68;
}

#home-button-box {
	-fx-pref-width: 325;
	-fx-pref-height: 382;
	-fx-alignment: bottom-left;
	-fx-padding: 0 10 10 10;
	-fx-spacing: 10;
}

#open-button {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 13;
	-fx-max-height: 13;
	-fx-background-radius: 17;
}

#close-button,
#moon-button,
#cloud-button,
#sun-button,
#date-up-button,
#date-down-button,
#za-button,
#az-button {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 14;
	-fx-max-height: 14;
	-fx-background-radius: 17;
}

#filter-content {
	-fx-alignment: bottom-center;
	-fx-background-color: transparent;
	-fx-max-width: 0;
	-fx-min-height: 0;
	-fx-max-height: 0;
}

#sort-content {
	-fx-alignment: bottom-center;
	-fx-background-color: transparent;
	-fx-padding: 0 154 0 0;
	-fx-max-width: 0;
	-fx-min-height: 0;
	-fx-max-height: 0;
}

#up-arrow-box {
	-fx-alignment: center;
	-fx-padding: 0 0 0 6;
}

#moon-box,
#cloud-box,
#sun-box,
#up-triangle-box {
	-fx-alignment: center;
}

#down-triangle-box {
	-fx-alignment: center;
	-fx-padding: 1 0 0 0;
}

#filter {
	-fx-text-fill: white;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 10;
	-fx-padding: 0 0 0 4;
}

#sort {
	-fx-text-fill: white;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 10;
	-fx-padding: 0 0 0 5;
}

#moon-check,
#cloud-check,
#sun-check,
#date-up-check,
#date-down-check,
#az-check,
#za-check {
	-fx-min-width: 7;
	-fx-max-width: 7;
	-fx-alignment: center;
}

#date-up-text,
#date-down-text,
#za-text,
#az-text {
	-fx-text-fill: white;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 10;
}


#button-backing-closed {
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 13;
	-fx-max-height: 13;
	-fx-background-color: -green;
	-fx-background-radius: 17;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0.1, 0, 4);
	-fx-alignment: center;
}

#text-label {
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 13;
	-fx-max-height: 13;
	-fx-background-color: transparent;
	-fx-background-radius: 17;
	-fx-alignment: center-left;
}

#moon-label,
#cloud-label,
#sun-label {
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 14;
	-fx-max-height: 14;
	-fx-background-color: transparent;
	-fx-background-radius: 17;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 5;
	-fx-spacing: 6;
}


#date-up-label,
#date-down-label,
#za-label,
#az-label {
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 14;
	-fx-max-height: 14;
	-fx-background-color: transparent;
	-fx-background-radius: 17;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 3;
	-fx-spacing: 3;
}

#filter-label-box,
#filter-open-button-box {
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 57;
	-fx-max-height: 57;
	-fx-background-color: transparent;
	-fx-background-radius: 7;
	-fx-alignment: bottom-center;
}

#sort-label-box,
#sort-open-button-box {
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 69;
	-fx-max-height: 69;
	-fx-background-color: transparent;
	-fx-background-radius: 7;
	-fx-alignment: bottom-center;
}

#filter-button-backing-open {
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 57;
	-fx-max-height: 57;
	-fx-background-color: -green;
	-fx-background-radius: 7;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0.1, 0, 4);
	-fx-alignment: center;
}

#sort-button-backing-open {
	-fx-min-width: 47;
	-fx-max-width: 47;
	-fx-min-height: 69;
	-fx-max-height: 69;
	-fx-background-color: -green;
	-fx-background-radius: 7;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0.1, 0, 4);
	-fx-alignment: center;
}

#create-plus {
	-fx-text-fill: white;
	-fx-font-family: 'Helvetica';
	-fx-font-weight: bold;
	-fx-font-size: 36;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 2, 4);
	-fx-padding: -15 0 -8 0;
}

#create-button {
	-fx-shape: 'M-40,0a40,40 0 1,0 80,0a40,40 0 1,0 -80,0';
	-fx-background-color: -green;
	-fx-border-width: 0;
	-fx-min-width: 40;
	-fx-min-height: 40;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.1, 0, 0);
}

#record-background {
	-fx-fill: -red;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.1, 0, 0);
}

#create-recipe {
	-fx-background-color: rgba(91, 91, 91, 0.96);
	-fx-max-width: 280;
	-fx-min-width: 280;
	-fx-max-height: 290;
	-fx-min-height: 290;
	-fx-alignment: top-left;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 0, 4);
}

#recipe-detailed {
	-fx-background-color: rgba(91, 91, 91, 0.96);
	-fx-max-width: 280;
	-fx-min-width: 280;
	-fx-max-height: 290;
	-fx-min-height: 290;
	-fx-alignment: top-left;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 0, 4);
}

#recipe-list {
	-fx-min-width: 325;
	-fx-max-width: 325;
	-fx-min-height: 382;  
	-fx-max-height: 382; 
}

#recipe-title-view {
	-fx-min-width: 295;
	-fx-max-width: 295;
	-fx-alignment: center-left;
	-fx-padding: 5 0 10 5;
}

#recipe-title-button {
	-fx-background-color: transparent;
	-fx-min-width: 295;
	-fx-max-width: 295;
}

#recipe-title-text {
	-fx-fill: -background;
}

#icon-and-title {
	-fx-min-width: 295;
	-fx-max-width: 295;
	-fx-spacing: 10;
	-fx-alignment: center-left;
}

#content {
	-fx-background-color: transparent;
	-fx-pref-width: 280;
	-fx-pref-height: 290;
	-fx-alignment: top-center;
	-fx-padding: 10 0 0 0;
}

#back-arrow-box {
	-fx-padding: 10 0 0 5;
	-fx-max-width: 36;
	-fx-max-height: 40;
}

#back-button {
	-fx-background-color: transparent;
	-fx-pref-width: 25;
	-fx-pref-height: 35;
}

#record-button {
	-fx-shape: 'M-31,0a31,31 0 1,0 62,0a31,31 0 1,0 -62,0';
	-fx-border-width: 0;
	-fx-min-width: 31;
	-fx-min-height: 31;
}

#meal-options-heading,
#meal-type-heading {
	-fx-text-fill: white;
	-fx-padding: 60 0 0 0;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

#meal-options-module {
	-fx-padding: 7 0 0 88;
	-fx-spacing: 5;
	-fx-alignment: top-left;
}

#breakfast,
#lunch,
#dinner {
	-fx-text-fill: white;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-padding: 0 0 0 13;
}

#invalid-meal-type-warning {
	-fx-text-fill: -red;
	-fx-padding: 22 0 0 0;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 18;
}

#meal-type-container {
	-fx-padding: 7 0 0 88;
}

#pantry-prompt {
	-fx-text-fill: white;
	-fx-padding: 65 0 0 0;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

#waiting-prompt {
	-fx-text-fill: white;
	-fx-padding: 65 0 0 0;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

#delete-confirmation-prompt {
	-fx-text-fill: white;
	-fx-padding: 55 0 0 0;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 24;
	-fx-text-alignment: center;
}

#generating-recipe-text {
	-fx-text-fill: white;
	-fx-padding: 122 0 0 0;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

#recipe-title {
	-fx-fill: white;
	-fx-font-family: 'Arial';
}

#recipe-title-spacer {
	-fx-min-height: 21;
}

#recipe-image-box {
	-fx-alignment: center;
	-fx-padding: 5 0 0 0;
}

#cancel-button,
#delete-button {
	-fx-background-color: -red;
	-fx-background-radius: 4px;
	-fx-text-fill: white;
	-fx-padding: 2 5 2 5;
	-fx-min-width: 48;
	-fx-max-width: 48;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 0, 4);
}

#refresh-button,
#share-button {
	-fx-background-color: -yellow;
	-fx-background-radius: 4px;
	-fx-text-fill: white;
	-fx-padding: 2 5 2 5;
	-fx-min-width: 48;
	-fx-max-width: 48;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 0, 4);
}

#save-button {
	-fx-background-color: -green;
	-fx-background-radius: 4px;
	-fx-text-fill: white;
	-fx-padding: 2 5 2 5;
	-fx-min-width: 48;
	-fx-max-width: 48;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 0, 4);
}

#edit-button {
	-fx-background-color: -blue;
	-fx-background-radius: 4px;
	-fx-text-fill: white;
	-fx-padding: 2 5 2 5;
	-fx-min-width: 48;
	-fx-max-width: 48;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.1, 0, 4);
}

#middle-button {
	-fx-background-radius: 4px;
	-fx-min-width: 48;
	-fx-max-width: 48;
	-fx-alignment: center;
}

#saved-button-box,
#unsaved-button-box {
	-fx-padding: 7;
	-fx-spacing: 61;
}

#delete-confirmation-button {
	-fx-shape: 'M-57,0a57,57 0 1,0 114,0a57,57 0 1,0 -114,0';
	-fx-background-color: -red;
	-fx-border-width: 0;
	-fx-min-width: 56;
	-fx-min-height: 56;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.1, 0, 0);
}

.text-area {
	-fx-text-fill: white;
	-fx-font-family: 'Arial';
	-fx-font-size: 11;
	-fx-background-color: transparent;
	-fx-min-height: 150;
  	-fx-max-height: 150;
}

.text-area .content,
.text-area .scroll-pane,
.text-area .viewport {
	-fx-background-color: transparent;
}

.text-area .content {
	-fx-padding: 0;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-padding: 7 0 0 10;
	-fx-min-height: 150;
	-fx-max-height: 150;
}

.viewport {
	-fx-background-color: transparent;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
	-fx-background-color: transparent;
}

.increment-button,
.decrement-button,
.increment-arrow,
.decrement-arrow {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 0;
}

.scroll-bar:horizontal .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-pref-height: 3;
	-fx-background-radius: 0em;
}

.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-pref-width: 3;
	-fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: #868686;
	-fx-background-radius: 5em;
}

.scroll-bar:vertical {
	-fx-pref-width: 16.5;
	-fx-padding: 3;
}

.scroll-bar:horizontal {
	-fx-pref-height: 16.5;
	-fx-padding: 3;
}

.scroll-bar,
.scroll-bar:pressed,
.scroll-bar:focused {
	-fx-font-size: 15;
}

.scroll-pane > .corner {
	-fx-background-color: transparent;
}

#close-button {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-min-width: 325;
	-fx-max-width: 325;
	-fx-min-height: 450;
	-fx-max-height: 450;
	-fx-background-radius: 0;
}

#link-label {
	-fx-text-fill: -background;
	-fx-font-family: 'Arial';
	-fx-font-weight: bold;
	-fx-font-size: 7.95;
}

#clipboard-button {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-min-width: 10;
	-fx-max-width: 10;
	-fx-min-height: 10;
	-fx-max-height: 10;
}

#popup-background {
	-fx-background-color: -yellow;
	-fx-padding: 0 7.95 0 7.95;
	-fx-spacing: 5;
	-fx-min-width: 281;
	-fx-max-width: 281;
	-fx-min-height: 33;
	-fx-max-height: 33;
	-fx-background-radius: 17;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0.1, 0, 4);
	-fx-alignment: center;
}

#share-link-popup {
	-fx-pref-width: 325;
	-fx-pref-height: 450;
	-fx-alignment: bottom-center;
	-fx-padding: 0 0 20 0;
}