.vscode

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

app/bin

.DS_Store

*.wav

*.csv

app/src/main/java/edu/ucsd/cse110/api/assets/savedRecipes*

app/src/main/java/edu/ucsd/cse110/api/assets/savelogin.txt

!app/src/main/java/edu/ucsd/cse110/api/assets/*.wav